# Default values for curity.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: curity/idsvr
  tag: 5.0.0
  pullPolicy: IfNotPresent
  pullSecret:

nameOverride: ""
fullnameOverride: ""
networkpolicy:
  enabled: true

curity:
  healthCheckPort: 4465
  adminUiPort: 6749

  admin:
    role: admin
    service:
      type: ClusterIP
      port: 6789
    logging:
      image: "busybox:latest"
      stdout: false
      logs: []
#        - audit
#        - request
#        - cluster
#        - confsvc
#        - confsvc-internal
#        - post-commit-scripts


  runtime:
    role: default
    service:
      type: ClusterIP
      port: 8443
    logging:
      image: "busybox:latest"
      stdout: false
      logs: []
#        - audit
#        - request
#        - cluster
#        - confsvc
#        - confsvc-internal
#        - post-commit-scripts

  config:
    uiEnabled: false
    backup: false
    password:
    encryptionKey:
    environmentVariableSecret:
    configurationConfigMap:
    configurationConfigMapItemName:
    configurationSecret:
    configurationSecretItemName:


ingress:
  enabled: false
  annotations: {}
#     kubernetes.io/ingress.class: nginx
#     nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
#     kubernetes.io/tls-acme: "true"
  runtime:
    host: curity.local
    secretName:
  admin:
    host: curity-admin.local
    secretName:

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
